/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BODY STYLING */
body {
    background-color: #b91450;
}


/* COLOR STYLING */
.purple {
    color: #c3366a;
}

.purple_border {
    border-color: #c3366a;
}

.bg_grey {
    background-color: grey;
}


/* TABLE STYLING */
.ticket_table table,
.ticket_table th,
.ticket_table td {
    border: none;
    padding: 20px;
}

table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* BUTTON STYLING */
.ticket_button {
    background-color: lightgrey;
    color: #ba1f57;
    font-weight: bold;
    border: 1px solid darkgray;
}