* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed red;
}

body {
    background-color: #b91450;
}

.pink {
    color: #c3366a;
}

.pink_border {
    border-color: #c3366a;
}

.ticket_table table,
.ticket_table th,
.ticket_table td {
    border: none;
}

table {
    border-top: 2px solid #000000; 
    border-bottom: 2px solid #000000;
}

.bg_grey {
    background-color: #808080;
}

.ticket_table th {
    padding: 20px 20px 30px 20px;
}
